.container {
  width: 75%;
  margin: 0 auto;
}

header .container {
  padding: 1rem 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container img {
  height: 4rem;
}

header .container nav a {
  text-decoration: none;
  color: #888;
  padding: 0 1rem;
}

header .container nav a span {
  color: #070707;
  font-weight: bold;
}

header .container nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}

main {
  background: #eee;
}

main .intro {
  padding-top: 2rem;
  margin: 0 auto;
  text-align: center;
}

main .intro a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  font-size: larger;
}

.gallery {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .photo {
  width: calc(25% - 1rem);
  padding: 0.5rem;
  overflow: hidden;
}

.gallery .photo img {
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery .photo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .photo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 500px;
  width: 100%;
  height: 95%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.preview-box .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px 12px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview-box .details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  margin: 0 5px;
}

.details .title p.current-img {
  font-weight: 500;
}

.details .icon {
  color: #f33952;
  font-size: 1.5rem;
  cursor: pointer;
}

.preview-box .image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 93%;
  position: relative;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.slide.prev {
  left: 0px;
}

.slide.next {
  right: 0px;
}

.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

.more {
  background: #fff;
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}

.more a {
  text-decoration: none;
  color: black;
}

footer {
  background: #eee;
  text-align: center;
  padding: 2rem;
  color: #888;
}

footer .icons {
  margin-bottom: 1rem;
}

footer a {
  padding: 0.5rem;
  color: #888;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .pageimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pageimg img {
    width: 100%;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery .photo {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */